/************************* Main part ***************************/
main{
    display: block;
    justify-content: center;
    text-align: center;
    background: white;
    min-height: 100vh;
    margin: 0 237px 0 237px;

    .main-top {

             p{
                padding: 50px 0 50px 0;
                color: var(--black);
                font-family: "Merriweather";
                font-size: 0.8rem;
                &:before{
                    display: inline-block;
                    content: "";
                    border-top: 1px solid var(--grey);
                    width: 35%;
                    margin: 0 20px;
                    transform: translateY(-2px);
                }
                &:after{
                    display: inline-block;
                    content: "";
                    border-top: 1px solid var(--grey);
                    width: 35%;
                    margin: 0 20px;
                    transform: translateY(-2px);
                }
    }
    }
    .main-center{

        h2{
            text-transform: uppercase;
            font-family: 'Inter';
            letter-spacing: 2px;
            font-size: 3rem;
            margin: 0 0 50px 0;
        }
        p{
            width: 50%;
            margin: 0 auto 0 auto;
            font-style: italic;
            line-height: 40px;
            padding-bottom: 50px;
        }
    }
    .main-center-img img{
        width: 80%;
        height: 80%;
        padding-bottom: 50px;
    }
}